dconf/
wslu/
matplotlib/
github-copilot/
package-lock.json
package.json
packer_compiled.lua
__pycache__/
api_key.json
opencode/.config/opencode/node_modules/
bin/.local/bin/*
!bin/.local/bin/bluetooth-audio-switcher
nvim/.config/
